h1, h2, h3 {
    font-family: 'Antonio', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

h3 {
    margin: 20px 0;
    letter-spacing: -1px;
}

// colors

.text-grey {
    color: #868689 !important;
}

.text-yellow {
    color: #FFCC00 !important;
}

// letter spacing

.ls-base {
    letter-spacing: -1px;
}

.ls-1 {
    letter-spacing: -3px;
}

// font weight

.fw-900 {
    font-weight: 900;
}

.font-antonio {
    font-family: 'Antonio', Arial, Helvetica, sans-serif;
}

// style

// #post-body:first-of-type::first-letter {
//     font-size: 20vmin;
//     font-weight: 900;
// }
// #post-body:first-line {
//     font-size: 10vmin;
//     font-weight: 900;
//     letter-spacing: -3px;
//     font-family: 'Antonio', Arial, Helvetica, sans-serif;
// }